/* font */
@font-face {
    font-family:ChivoMono-Italic-VariableFont_wght;
    src: url(../Fonts/ChivoMono-Italic-VariableFont_wght.ttf);
}
*{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: ChivoMono-Italic-VariableFont_wght;
}
  /* body */
  body{
    
    margin: 0;
  }
.uni-padding{
    padding: 0 7%;
  }
  
  /* top bar */
  #topbar{
    background-color: #576574;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
  }
  #social-icon{
    float: right;
    /* color: #fdfdfd; */
  }
  #tollfree{
    float: left;
    color: #fdfdfd;
    margin: 0px;
  }
  .fa-brands{
    background-color: #fdfdfd;
    color:#576574;
    padding: 7px;
    border-radius: 50px;
  }
  img{
    size-adjust: 10px;
  }
  #logobar img{
    width: 140px;
    margin: 28px 0px;
  }
   /* navbar */
   #navbar{
    background-color: #ee5253;
   }
   #navbar ul{
    margin: 0;
    padding: 0;
   }
   #navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 35px;
   }
   #navbar ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
   }
   p img{
    width: 120px;
    border-radius: 50px;
    border: solid 3px red;
   }
  .div33 img{
    width:100px;
    border-radius: 100px;
    border: solid 3px red;
   }
   #poster{
    background-image: url(../images/bulding.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction: column;
   }
   #poster h1{
    font-size: 50px;
   }
   #poster p{
    font-size: 18px;
    text-align: center;
   }
   /* Why Us */
   #wy-us{
    overflow: auto;
    margin-bottom: 50px;
   }
   .red-heading{
    color:#ee5253;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
   }
   .section33{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;

   }
   .section33 h2{
    color:#ee5253;
   }
   .section33 p{
    color:#363636;
   }
   /* contect */
   #contect-countiner{
    background-color: #ee5253;
    color:white;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 30px;
   }
   .section70{
    width: 70%;
    float: left;

   }
   .section30{
    width: 30%;
    float:left;
    text-align: center;
    padding-top:  70px;

   }
   #contect-btn{
    background-color: white;
    color: #ee5253;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
   }
   /* blog */
   .section33{
    max-width: 100%;
   }
   .section33 a{
    color:#ee5253;
    font-weight: bold;
    text-decoration: none;
    font-family: ChivoMono-Italic-VariableFont_wght;
    font-size: 14px;
   }
   /* subcribe */
   #subcribe-section{
    background-color: #ee5253;
    color:white;
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    
   }
   .section50{
    width: 50%;
    float: left;
    
   }
   .section50 h2{
    font-size: 27px;
    text-align: right;
    padding-right: 50px;
   }
   .section50 form{
    padding-top: 25px;
   }
   .section50 input[type="text"]{
    padding: 10px 15px;
    font-size: 15px;
    color: #ee5253;
    margin-right: 20px;
    border: 0px;

   }
   .section50 input[type="submit"]{
    padding: 8px 35px;
    font-size: 15px;
    color:#ee5253;
    border: 0px;
   }

   /* footer */
   #imp-link{
    background-color: #576574;
    color:white;
    overflow:auto;
   }
   .div33{
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
   }
   .div33 h3{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
   }
   #footer-menu{
    list-style-type: none;
    padding: 0;
   }
   #footer-menu li{
    padding-bottom: 10px;
   }
   #footer-menu li a{
    text-decoration: none;
    color: white;
   }
   #footer-menu-continor{
    padding-left: 100px;
   }
   #copyright{
    background-color: #222f3e;
    text-align: center;
    color: #cbcbcbcb;
    padding: 10px;
   }
   /* responsive ipad */
   @media  only screen and (max-width: 768px){
    #navbar ul li {
      display: inline-block;
      padding: 18px 0px;
      padding-right: 20px;
   }
   .section70 h1{
    margin-left: 30px;

   }
   .section70 p{
    margin-left: 30px;
   }
   }
   /* Mobile Responsive  */
   @media only screen and (max-width: 500px){
    #logobar{
      text-align: center;
    }
    #poster h1 {
    font-size: 28px;
}
#poster p {
    font-size: 14px;

}
.section33,.section70,.section30,.section50,.div33{
  width: 100%;
}
.section30 {
  padding-top: 0px;
  text-align: center;
   }
   .section70{
    text-align: center;
    padding-top: 0px;
  }
  .section30{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section33 a{
    margin-bottom: 30px;
    display: inline-block;
  }
  .section50 h1{
    text-align: center;
  }
  .section50 form {
    padding-top: 0px;
    margin-left: 15px;
}
#subcribe-section {
  padding-top: 0px;
  padding-bottom: 40px;
}
.div33 {
 
  padding: 25px 20px;
  text-align: center;
 
}
#footer-menu-continor {
    padding-left: 0px;
}

}
#navbar ul #mobile_cross, #mobile-bar{
  display: none;
}
/* mobile menu */
@media  only screen and (max-width: 768px){
  #navbar {
    background-color: #ee5253;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 280px;
    padding: 0px;
}
#navbar ul li {
  display: block;
  padding: 18px 0px;
  padding-right: 35px;
  border-bottom: 1px solid #1a1717;
  padding-left: 20px; 
}
#mobile_cross{
  text-align: right;
}

.fa-square-xmark{
  font-size: 30px;
}
#navbar{
  left: -280px;
  transition: all 0.5s ease;
}
#mobile-bar{
  background-color: #ee5253;
  color: white;
  padding: 18px;
  font-size: 28px;
}
#navbar ul #mobile_cross, #mobile-bar{
  display: block;
}
}
